.btn-blue{
	background-color:#575F7D;
	padding:15px 20px;
	border-radius:4px;
	color:#7ECE90;
	font-weight: bold;
	font-family: 'Lora', serif;
}

.btn-blue:hover{
	background-color:#7ECE90;
	color:#575F7D;
}

.list-inline{
	list-style:none;
	padding-left:0px;
}

.list-inline li{
	display:inline;
	padding:10px;
}

.list-inline i{
	font-size: 50px;
	color:#575F7D;
}

.list-inline i:hover{
	color:#7ECE90;
}